.drag-parent {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .1) 1px,
            transparent 1px,
            transparent 10px),
        linear-gradient(to bottom,
            rgba(0, 0, 0, .1) 1px,
            transparent 1px,
            transparent 10px);
    background-size: 10px 10px;
}

.modal {
    background-color: yellow;
}

.dragging {
    outline: 1px solid #000;
}