.canvasPage {
    display: flex;
    flex-direction: column;
}

.canvasTools {
    padding: 5px 1.5rem;
    border: 1px solid var(--border-color);
    position: relative;
    padding-right: 30px;
}

.canvasMain {
    border: 1px solid var(--border-color);
    flex: 1;
    height: 0;
    cursor: crosshair;
}

.activeBtn {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.defaultBtn {}