.svgPage {
    display: flex;
    flex-direction: column;
}

.svgMain {
    border: 1px solid var(--border-color);
    flex: 1;
    height: 0;
    cursor: crosshair;
}

.svgTips {
    position: fixed;
    line-height: 1.5;
    right: 40px;
    bottom: 50px;
    opacity: .35;
    pointer-events: none;
}