.loginBox {
  width: 400px;
  padding: 40px 45px 25px;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  color: rgba(0, 0, 0, 0.85);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #e4e7ed;
  box-shadow: 2px 2px 12px #0000000d;
  .loginTitele {
    font-size: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    font-weight: 600;
    .loginLogo {
      font-size: 44px;
      color: dodgerblue;
      margin-right: 20px;
    }
  }
}
.primary {
  color: #475768;
}

.loginContainer {
  background-image: url('../../assets/images/background.jpg');
  background-size: 100% 100%;
}
