.loginBox {
  width: 400px;
  padding: 40px 45px 25px;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  // color: rgb(0 0 0 / 85%);
  transform: translate(-50%, -50%);
  background-color: var(--login-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color);

  .login-icons {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .loginTitele {
    font-size: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    font-weight: 600;

    .loginLogo {
      font-size: 44px;
      color: dodgerblue;
      margin-right: 20px;
    }
  }
}

.primary {
  color: var(--login-title-color);
}

.loginContainer {
  background-image: url('../../assets/images/background.jpg');
  background-size: 100% 100%;
}