.sider-title {
  height: 32px;
  margin: 16px;
  background: rgb(255 255 255 / 20%);
  border-radius: 6px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;

  .sider-text {
    margin-left: 6px;
  }
}

.container-box {
  display: flex;
  height: 100vh;
}

.sider-box {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-box {
  padding: 0 20px 0 28px;
  border-bottom: 1px solid #f6f6f6;
}

.menu-box {
  flex: 1;
  overflow: auto;
}

.collapsed-icon,
.header-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-icon {
  padding: 5px 10px;
  border-radius: 4px;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.layout-container {
  .ant-layout {
    background-color: var(--bg-color);
  }

  .layout-sider,
  .layout-sider-menu {
    background-color: var(--sider-color);
  }

  .ant-layout-sider {
    border-right: 1px solid var(--border-color) !important;

    .ant-menu {
      &::-webkit-scrollbar {
        background-color: var(--bg-color) !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-bg-color) !important;
      }
    }
  }

  .layout-header {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 20px 0 28px;
  }

  .layout-content {
    background-color: var(--main-bg-color);
    padding: 12px;
    overflow: hidden;

    &-main {
      padding: 12px;
      background-color: var(--bg-color);
      height: 100%;
      overflow: auto;
      border: 1px solid var(--border-color) !important;
    }
  }

  .layout-footer {
    text-align: center;
    padding: 0;
    line-height: 28px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-color);
  }

  .ant-menu-item {
    // width: 100% !important;
    // border-radius: 0 !important;
    // margin: 0;
  }
}